.animate {
  position: absolute;
  will-change: transform;
}

.hover-listener {
  perspective: 400px;
}

.rotatable {
  transform-style: preserve-3d;
  transition: transform 600ms ease;
  -webkit-transition: transform 600ms ease;
  -moz-transition: transform 600ms ease;
  -ms-transition: transform 600ms ease;
  -o-transition: transform 600ms ease;
}

/* If the user is already hovering on the card, we want the transform to respond near-immediately 
We don't want 0ms because this makes it look choppy when you first hover */
.rotatable:hover {
  transition: transform 100ms ease;
  -webkit-transition: transform 100ms ease;
  -moz-transition: transform 100ms ease;
  -ms-transition: transform 100ms ease;
  -o-transition: transform 100ms ease;
}
