# API URL
# To use mock server set url to "/api"
NEXT_PUBLIC_API_BASE_URL=https://api.gallery.so

# Ethirium Chain ID for reading contract data using Network Connector
NEXT_PUBLIC_NETWORK_CONNECTOR_CHAIN_ID=4

# Contract Address for Mint page
NEXT_PUBLIC_PREMIUM_MEMBERSHIP_CONTRACT_ADDRESS=
NEXT_PUBLIC_GENERAL_MEMBERSHIP_CONTRACT_ADDRESS=
NEXT_PUBLIC_GALLERY_MEMENTOS_CONTRACT_ADDRESS=