/* Required for initial blank pause */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 0;
}

/* Fade-in */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out 700ms;
}

/* Fade-out */
.fade-exit {
  opacity: 1;
  position: absolute;
  /* NOTE: this is taken from the GLOBAL_NAVBAR_HEIGHT in Page/constants.tsx */
  /* top: 80px; */
}

.fade-exit.fade-exit-active {
  opacity: 0;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out;
}
