/* Required for initial blank pause */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 0;
}

/* Fade-in */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out 700ms;
}

/* Fade-out */
.fade-exit {
  opacity: 1;
  position: absolute;
  top: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out;
}

/* Required for initial blank pause */
.navbar-fade-appear {
  opacity: 0;
}

.navbar-fade-appear.navbar-fade-appear-active {
  opacity: 0;
}

/* Fade-in */
.navbar-fade-enter {
  opacity: 0;
}

.navbar-fade-enter.navbar-fade-enter-active {
  opacity: 1;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out 300ms;
}

/* Fade-out */
.navbar-fade-exit {
  opacity: 1;
  position: fixed;
  top: 0;
}

.navbar-fade-exit.navbar-fade-exit-active {
  opacity: 0;
  /* NOTE: if you change this, update `FadeTransitioner.tsx` */
  transition: opacity 300ms ease-in-out;
}
