@font-face {
  font-family: 'Gallery Display';
  src: url('/fonts/gallery-display.woff2') format('woff2');
}

@font-face {
  font-family: 'Gallery Display';
  src: url('/fonts/gallery-display-italics.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue.otf') format('opentype'),
    url('/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Medium.otf') format('opentype'),
    url('/fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  font-family: 'Times New Roman', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

p {
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tooltip {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  opacity: 1;
}

/* always display scrollbar if scrollable for accessibility */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* end custom scrollbar */

img.emoji {
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
