@font-face {
  font-family: 'GT Alpina';
  src: url('/fonts/GT-Alpina-Standard-Light.otf') format('opentype'),
    url('/fonts/GT-Alpina-Standard-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina';
  src: url('/fonts/GT-Alpina-Standard-Light-Italic.otf') format('opentype'),
    url('/fonts/GT-Alpina-Standard-Light-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'GT Alpina';
  src: url('/fonts/GT-Alpina-Standard-Light.otf') format('opentype'),
    url('/fonts/GT-Alpina-Standard-Light.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-display: block;
  font-family: 'GT Alpina Condensed';
  src: url('/fonts/GT-Alpina-Condensed-Light.otf') format('opentype'),
    url('/fonts/GT-Alpina-Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-display: block;
  font-family: 'GT Alpina Condensed';
  src: url('/fonts/GT-Alpina-Condensed-Light-Italic.otf') format('opentype'),
    url('/fonts/GT-Alpina-Condensed-Light-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-display: block;
  font-family: 'GT Alpina Condensed';
  src: url('/fonts/GT-Alpina-Condensed-Medium.otf') format('opentype'),
    url('/fonts/GT-Alpina-Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-display: block;
  font-family: 'GT Alpina Condensed';
  src: url('/fonts/GT-Alpina-Condensed-Medium-Italic.otf') format('opentype'),
    url('/fonts/GT-Alpina-Condensed-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: block;
  font-family: 'GT Alpina Condensed';
  src: url('/fonts/GT-Alpina-Condensed-Bold-Italic.otf') format('opentype'),
    url('/fonts/GT-Alpina-Condensed-Bold-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ABC Diatype Mono';
  src: url('/fonts/ABCDiatypeMono-Medium.ttf') format('truetype');
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  font-family: 'Times New Roman', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
}

p {
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tooltip {
  font-family: 'ABC Diatype', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  opacity: 1;
}

/* text highlight color */
::selection {
  background: #e2e2e2;
}

/* the following block *always displays the scrollbar* for inner divs if scrollable.
   we're reconsidering whether we want this behavior, so commenting this out for now. */
/* div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
} */

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* end custom scrollbar */
